/* Custom styles */

/* Variable */
$white : #fff;

body {
	padding-top: 72px;
}

.jumbotron {
	text-align: center;
}

.input-group,
.form-control {
	margin-bottom: 16px;
}

footer {
	div {
		padding: 5px;
	}
	* {
		color: $white;
	}
}