<div class="container">
	<div class="jumbotron">
		<h1>Usermanage</h1>
		<h2>..............Just manage the users</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>